node_modules
token.txt
.vscode
/files/serverConfigs/*.json
!/files/serverConfigs/template.json
.DS_store
/files/log/*.*
package-lock.json
/files/cache/*.*
/files/warns/*.*
/files/important files/config.json
/files/important files/discord.db