node_modules
token.txt
.vscode
/files/serverConfigs/*.json
!/files/serverConfigs/template.json
.DS_store
/files/log/latest.log
package-lock.json
/files/cache/*.txt
/files/warns/*.*
/files/important files/config.json